@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');

$container-color: #FFFFFF;
$max-width-container: 600px;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: $container-color;
}

.header {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .header-logo {
    font-size: 20px;
    font-family: "Montserrat Black", sans-serif;
    cursor: pointer;
  }
}

.header-menu {
  display: flex;
  justify-content: space-around;

  .material-icons {
    margin-left: 15px;
    cursor: pointer;
    width: 24px;
    height: 24px;

    &:hover {
      color: darkgray;
      background-size: cover;
    }

    &.burger {
      width: 24px;
      height: 24px;
      margin-left: 10px;
      cursor: pointer;
      display: none;
      @media (max-width: $max-width-container) {
        display: block;
      }
    }

    &.cart {
      position: relative;
    }

    .header-menu__item-card-count {
      background: red;
      border-radius: 20px;
      color: #FFFFFF;
      width: 20px;
      height: 20px;
      z-index: 0.5;
      position: absolute;
      top: -13px;
      right: -11px;
      font-size: 16px;
      text-align: center;
      font-family: Montserrat, sans-serif;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.main-navbar {
  display: flex;
  flex-direction: column;
  z-index: 1;
  @media (max-width: $max-width-container) {
    display: none;
  }

  .main-navbar__item {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: darkgray;
    cursor: pointer;
    padding: 40px 0 0 0;

    &:hover {
      color: black;
    }
  }
}

.main-center {
  display: flex;
  margin: 0 30px 0 5px;
  flex-direction: column;
  z-index: 2;
  min-width: 400px;
  max-width: 450px;
  @media (max-width: $max-width-container) {
    min-width: 125px;
  }
  justify-content: space-between;

  .main-center__item-text {
    display: flex;
    justify-content: center;
    font-family: Rajdhani, sans-serif;
    color: darkgray;
    font-size: 20px;

    &.name {
      font-size: 60px;
      color: black;
      @media (max-width: $max-width-container) {
        font-size: 40px;
      }
    }

    &.paragraph {
      text-align: center;
      @media (max-width: $max-width-container) {
        font-size: 15px;
      }
    }
  }

}


.main-center-buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 70px 0 0 0;
}

.main-center-buttons-container__item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 25px;
  min-width: 125px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  @media (max-width: $max-width-container) {
    padding: 12px;
  }

  &:hover {
    background: black;
    color: $container-color;
  }

  @media (max-width: $max-width-container) {
    margin: -50px 0 0 10px;
    min-width: 110px;
  }

  .main-center-buttons-container__item-text {
    margin: 3px 0 0 5px;
    @media (max-width: $max-width-container) {
      font-size: 12px;
    }
  }
}

.main-number {
  opacity: 0.2;
  color: #ff9a03;
  font-size: 300px;
  z-index: 1;
  font-family: Montserrat, sans-serif;
  margin: 0 150px 0 0;
  @media (max-width: $max-width-container) {
    display: none;
  }
}


.main-right-navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 800px;
  writing-mode: vertical-lr;
  right: 0;
  top: 80px;
  @media (max-width: $max-width-container) {
    height: 570px;
  }
}


.main-right-navbar__item {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    cursor: pointer;
    @media (max-width: $max-width-container) {
      font-size: 10px;
    }

    &:hover {
      color: darkgray;
    }
  }
}


.main-double {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}

.main-double-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 190px;
  margin: 30px 0 0 0;
  z-index: 3;
  @media (max-width: $max-width-container) {
    min-width: 310px;
    margin: 5px 0 0 20px;

  }
}

.main-double-left-up {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.main-double-left-down {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.main-double-left-up__care {
  font-size: 35px;
  background: #FFFFFF;
  font-family: Montserrat, sans-serif;
  cursor: pointer;

  @media (max-width: $max-width-container) {
    font-size: 20px;
  }
  &:hover {
    background: black;
    color: #FFFFFF;
  }
}

.main-double-left-up__tech {
  padding: 0 0 0 5px;
  font-size: 35px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  @media (max-width: $max-width-container) {
    font-size: 20px;
  }

  &:hover {
    transition: .8s ease-in background-color;
    background: black;
    color: #FFFFFF;
  }
}

.main-double-left-down__item {
  font-size: 11px;
  font-family: "Montserrat Black", sans-serif;

  &.line {
    padding: 0 0 30px 0;
  }
}

.main-double-center {
  max-width: 750px;
  max-height: 750px;
  position: relative;
  margin: -345px 0px 0 50px;
  z-index: 1;
  @media (max-width: $max-width-container) {
    margin: -140px 0 0 0;
  }
}
.main-double-center__image {
  text-align: center;
  img {
    max-width: 100%;
    z-index: 0;
  }
}
.swiper-scrollbar {
  background-color: darkgray;
  margin: 0 0 70px 0;
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-left__text {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  //margin: 50px 0 0 0;

}
